@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-fundo: radial-gradient(#6A5279, #434146);
    --cor-fundo2: linear-gradient(#781d96, #918D6D);
    --cor-fundo3: linear-gradient(#918D6D, #6A5279);
    --cor-fundo-projetos: linear-gradient(to bottom, transparent, rgba(120, 29, 150, 0.1)), url(./img/respingo.png) , radial-gradient(#6A5279, #434146);
    --cor-branco: #fff;
    --cor-i: linear-gradient(#F7F1BA, #918D6D);
    --cor-intro: #c4c4c4;
}

* {
    padding: 0;
    margin: 0;
}

body,
main {
    width: 100%;
    height: 100vh;
}

#s1 {
    height: 100%;
    width: 100%;
    color: var(--cor-branco);
    background: var(--cor-fundo);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p1 {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    font-size: 2rem;
    color: #bbb;
    align-self: flex-start;
    margin-left: 20rem;
    animation: typing 4s steps(40, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

h1 {
    font-size: 10rem;
    line-height: 1;
}

.p2 {
    font-size: 1.5rem;
    color: var(--cor-branco);
    line-height: 2;
    margin-left: 40rem;
}

.h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.h2 {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

#iDoTitulo {
    font-size: 5rem;
    background: var(--cor-i);
    -webkit-background-clip: text;
    color: transparent;
}

#iDoTitulo:hover {
    cursor: pointer;
    animation: mexe 0.5s linear forwards;
}


@keyframes mexe {
    0% {
        background: var(--cor-branco);
        -webkit-background-clip: text;
        color: transparent;
    }

    100% {
        transform: translateY(-20px);
        background: var(--cor-branco);
        -webkit-background-clip: text;
        color: transparent;
    }
}

#s2 {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--cor-fundo-projetos);
}

#s2 h1 {
    background: linear-gradient(#918D6D, #F7F1BA);
}

#s4 h1 {
    background: linear-gradient(#6A5279, #1e1d1f);
}

#s2 h1, #s4 h1 {
    text-align: center;
    height: 11rem;
    color: transparent;
    -webkit-background-clip: text;
    z-index: 5;
}

#s3 {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 1, 25rem;
    background: var(--cor-fundo2);
}

.projetos,
.projetos_part2 {
    width: 100%;
    height: auto;
}


.t {
    position: relative;
    width: 40rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.c {
    position: relative;
    width: 15rem;
    bottom: 23rem;
    left: 3.125rem;
    z-index: 2;
}

.pc {
    position: relative;
    width: 50rem;
    top: -5rem;
    left: 0;
    margin-bottom: 11rem;
    z-index: 1;
}

.paragrafo {
    position: relative;
    bottom: 20rem;
    padding: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: .2rem;
}

.p3 {
    font-size: 1.5rem;
}

#s4 {
    padding: 0 3rem;
    background: var(--cor-fundo3);
    padding-bottom: 4rem;
}

#s4 h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#s4 #certificados {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    color: #000;
    text-decoration: none;
}

#s4 #certificados:hover {
    color: #F7F1BA;
    text-decoration: underline;
    cursor: pointer;
}

h4 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

hr {
    width: 100%;
    border: 0;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, #000, transparent);
}

.hrDoH {
    background: linear-gradient(to right, transparent, transparent, #000, transparent, transparent);
}

#s4 dl{
    text-align: center;
}

#s4 p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#s4 dd{
    font-size: 1.5rem;
}

#s4 dd i {
    color: #021b5c;
}

#s4 dt{
    font-size: 2rem;
    margin-top: 1rem;
}

li {
    font-size: 1.5rem;
    margin-left: 2rem;
}

/* Estilos para o intro */
#intro {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1e1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.intro-text {
    width: 80%;
    height: 100%;
}

.svg-text {
    font-family: Arial, sans-serif;
    font-size: 0.5rem;
    fill: none;
    stroke: var(--cor-branco);
    stroke-width: 0.1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: draw 6s forwards, fadeOut 2s forwards 4s;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
        text-shadow: 0 0 10px var(--cor-intro),
            0 0 20px var(--cor-intro),
            0 0 40px var(--cor-intro),
            0 0 80px var(--cor-intro),
            0 0 120px var(--cor-intro),
            0 0 160px var(--cor-intro);
    }
}

@keyframes fadeOut {
    0% {
        fill: var(--cor-branco);
    }

    100% {
        fill: var(--cor-branco);
        opacity: 0;
        transform: translateY(-20px);
        text-shadow: 0 0 10px var(--cor-intro),
            0 0 20px var(--cor-intro),
            0 0 40px var(--cor-intro),
            0 0 80px var(--cor-intro),
            0 0 120px var(--cor-intro),
            0 0 160px var(--cor-intro);
    }
}

/* Oculta o intro após a animação */
.hidden {
    opacity: 0;
    pointer-events: none;
}

#main-content {
    display: none;
}

.fade-out {
    transition: opacity 1s;
    /* define a transição de opacidade para 1 segundo */
    opacity: 0;
    /* define a opacidade final para 0 */
}

.aparecendo {
    transition: opacity 1s;
    opacity: 1;
}


/*-------------Modal-------------*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index: 999;
    text-align: center;
}

.modal-content {
    background-color: #1e1d1f;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

#s4 #texto {
    color: #aaa;
    font-size: 3rem;
}

#links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.certificado {
    width: 100%;
    color: #aaa;
    text-decoration: none;
    font-size: 2rem;
}

.certificado:hover {
    color: #F7F1BA;
    text-decoration: underline;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}