@media (max-width: 900px) {

    #mainSection,
    #s1,
    #s2,
    #s3,
    #s4 {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .texto,
    .img {
        width: 100%;
        text-align: center;
    }

    .img img {
        max-width: 80vw;
        height: auto;
    }

    #s1 img {
        margin: 0;
    }

    .projetos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #projeto2 .descricao {
        flex-direction: column-reverse;
    }

    .descricao {
        flex-direction: column;
        align-items: center;
    }

    #projeto1 .image {
        margin: 2rem 0;
    }

    #projeto2 .image {
        margin: 2rem 0;
    }

    #skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-items {
        margin: 10px;
        min-width: 80px;
    }

    header #title {
        font-size: 1.5em;
        padding: 10px 0;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1em;
    }

    .img img {
        max-width: 100vw;
    }

    footer {
        font-size: 0.9em;
        padding: 10px;
    }
}

@media (max-width: 750px) {
    .skills-items {
        font-size: 1rem;
    }
}

@media (max-width: 470px) {
    #skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .skills-items {
        width: 90%;
        max-width: 350px;
    }
}

/*
@media (min-width: 481px) {
    
}

@media (min-width: 769px) {
    
}

@media (min-width: 1025px) {
    
}

@media (min-width: 1500px) {
    
}

@media (min-width: 2000px) {
    
}

@media (min-width: 2500px) {
    
}

@media (min-width: 3000px) {
    
}

/*
    320px a 480px: dispositivos móveis
    481px a 768px: iPads e tablets
    769px a 1024px: telas pequenas e laptops
    1025px a 1200px: desktops e telas grandes
    1201px e acima: telas muito grandes e TVs1
*/